/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif; }

body .main-home .contenedor-mediodias .img-home-uno, body .main-home .contenedor-salas .img-home-dos, body .main-home .contenedor-dias .img-home-tres {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; }

body .main-home .contenedor-mediodias .mediodias p, body .main-home .contenedor-salas .sala-reuniones p, body .main-home .contenedor-dias .dias-horarios p {
  padding: 0.5rem 1rem 1rem 1rem; }

body .footer .btn-wapp, .body-bar .footer .btn-wapp {
  position: fixed;
  bottom: 6rem;
  right: 3rem; }

body header, .body-bar header {
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 100%;
  background-image: url(../img/varias/img-bannerdos.jpg);
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: cover; }

body header h1, .body-bar header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.3rem solid black;
  border-bottom: 0.3rem solid black;
  background-color: white;
  font-size: 1.9rem; }

.body-bar .main-bar .h2-mod, body .main-market .h2-mod, body .main-contacto .h2-mod {
  display: flex;
  justify-content: center;
  font-size: 2rem; }

.body-bar .main-bar .cont-img-bar img, body .main-market .cont-img-market img, body .main-kamados .contenedor-img-kamado img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.body-bar .main-bar .cont-img-bar .img-bar-uno,
.body-bar .main-bar .cont-img-bar .img-bar-dos,
.body-bar .main-bar .cont-img-bar .img-bar-cuatro {
  display: flex;
  justify-content: center;
  padding: 3rem; }

body .main-kamados .contenedor-img-kamado .img-kamado-uno,
body .main-kamados .contenedor-img-kamado .img-kamado-dos,
body .main-kamados .contenedor-img-kamado .img-kamado-tres {
  display: flex;
  justify-content: center; }

body .footer, .body-bar .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem; }

body .main-contacto .form-c .input-group input, body .main-contacto .form-c .input-group textarea {
  background-color: rgba(159, 180, 92, 0.308);
  border: solid rgba(144, 161, 86, 0.438);
  outline: none; }

body {
  background-color: whitesmoke; }
  body header h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 100%;
    z-index: 1; }
  body header nav.navbar .navbar-nav .nav-link {
    padding: 0.5rem;
    transition: font-size 0.3s;
    background-color: rgba(255, 255, 255, 0.61);
    text-shadow: 1px 1px 2px #525050; }
    body header nav.navbar .navbar-nav .nav-link:hover {
      text-decoration: underline; }
    body header nav.navbar .navbar-nav .nav-link:visited {
      color: #70573a;
      text-shadow: 1px 1px 2px #b38e63; }
  body header nav.navbar .navbar-toggler {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.61); }
  body header nav.navbar .navbar-collapse {
    position: relative;
    z-index: 2; }
  body .main-home {
    padding: 4rem 3rem; }
    @media screen and (min-width: 600px) {
      body .main-home .contenedor-mediodias {
        display: flex;
        margin-left: 3rem; } }
    body .main-home .contenedor-mediodias .img-home-uno img {
      justify-items: center; }
    body .main-home .contenedor-mediodias .mediodias {
      text-align: center; }
      @media screen and (min-width: 600px) {
        body .main-home .contenedor-mediodias .mediodias {
          text-align: left;
          margin-left: 2rem;
          font-size: 1.2rem; }
          body .main-home .contenedor-mediodias .mediodias h2 {
            margin-left: 1rem; } }
    @media screen and (min-width: 600px) {
      body .main-home .contenedor-salas {
        display: flex;
        margin-left: 3rem; } }
    body .main-home .contenedor-salas .img-home-dos img {
      justify-items: center; }
    body .main-home .contenedor-salas .sala-reuniones {
      text-align: center; }
      @media screen and (min-width: 600px) {
        body .main-home .contenedor-salas .sala-reuniones {
          text-align: left;
          margin-left: 1.5rem;
          font-size: 1.2rem; }
          body .main-home .contenedor-salas .sala-reuniones h2 {
            margin-left: 1rem; } }
    @media screen and (min-width: 600px) {
      body .main-home .contenedor-dias {
        display: flex;
        margin-left: 3rem; } }
    body .main-home .contenedor-dias .img-home-tres img {
      justify-items: center; }
    body .main-home .contenedor-dias .dias-horarios {
      text-align: center; }
      @media screen and (min-width: 600px) {
        body .main-home .contenedor-dias .dias-horarios {
          text-align: left;
          margin-left: 1.5rem;
          font-size: 1.2rem; }
          body .main-home .contenedor-dias .dias-horarios h2 {
            margin-left: 1rem; } }
    @media screen and (min-width: 1024px) {
      body .main-home {
        margin-left: 3%;
        margin-right: 3%;
        font-size: 1.4rem; } }
  body .footer .btn {
    border: none; }
    body .footer .btn .btn-inst {
      margin-bottom: 1rem;
      display: block; }
      body .footer .btn .btn-inst a:hover {
        background-color: #4b6344;
        box-shadow: 0 0 20px #4b6344;
        border-radius: 60%; }
    body .footer .btn .btn-map a:hover {
      background-color: #4b6344;
      box-shadow: 0 0 20px #4b6344;
      border-radius: 60%; }

body .main-home .contenedor-mediodias .img-home-uno, body .main-home .contenedor-salas .img-home-dos, body .main-home .contenedor-dias .img-home-tres {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; }

body .main-home .contenedor-mediodias .mediodias p, body .main-home .contenedor-salas .sala-reuniones p, body .main-home .contenedor-dias .dias-horarios p {
  padding: 0.5rem 1rem 1rem 1rem; }

body .footer .btn-wapp, .body-bar .footer .btn-wapp {
  position: fixed;
  bottom: 6rem;
  right: 3rem; }

body header, .body-bar header {
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 100%;
  background-image: url(../img/varias/img-bannerdos.jpg);
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: cover; }

body header h1, .body-bar header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.3rem solid black;
  border-bottom: 0.3rem solid black;
  background-color: white;
  font-size: 1.9rem; }

.body-bar .main-bar .h2-mod, body .main-market .h2-mod, body .main-contacto .h2-mod {
  display: flex;
  justify-content: center;
  font-size: 2rem; }

.body-bar .main-bar .cont-img-bar img, body .main-market .cont-img-market img, body .main-kamados .contenedor-img-kamado img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.body-bar .main-bar .cont-img-bar .img-bar-uno,
.body-bar .main-bar .cont-img-bar .img-bar-dos,
.body-bar .main-bar .cont-img-bar .img-bar-cuatro {
  display: flex;
  justify-content: center;
  padding: 3rem; }

body .main-kamados .contenedor-img-kamado .img-kamado-uno,
body .main-kamados .contenedor-img-kamado .img-kamado-dos,
body .main-kamados .contenedor-img-kamado .img-kamado-tres {
  display: flex;
  justify-content: center; }

body .footer, .body-bar .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem; }

body .main-contacto .form-c .input-group input, body .main-contacto .form-c .input-group textarea {
  background-color: rgba(159, 180, 92, 0.308);
  border: solid rgba(144, 161, 86, 0.438);
  outline: none; }

.body-bar {
  background-color: whitesmoke; }
  .body-bar .main-bar {
    margin: 3rem 1rem 2rem 1rem; }
    .body-bar .main-bar .cont-img-bar {
      margin-top: 2rem; }
      @media screen and (min-width: 600px) {
        .body-bar .main-bar .cont-img-bar {
          display: grid;
          grid-template-columns: repeat(3, 25%);
          grid-template-rows: repeat(2, auto);
          justify-content: center;
          row-gap: 1rem;
          column-gap: 1rem;
          margin-bottom: 1.5rem; } }
      @media screen and (min-width: 1024px) {
        .body-bar .main-bar .cont-img-bar {
          display: flex;
          flex-wrap: wrap; } }
      .body-bar .main-bar .cont-img-bar .img-bar-tres,
      .body-bar .main-bar .cont-img-bar .img-bar-cinco,
      .body-bar .main-bar .cont-img-bar .img-bar-seis {
        display: none; }
        @media screen and (min-width: 600px) {
          .body-bar .main-bar .cont-img-bar .img-bar-tres,
          .body-bar .main-bar .cont-img-bar .img-bar-cinco,
          .body-bar .main-bar .cont-img-bar .img-bar-seis {
            display: block; } }
      @media screen and (min-width: 600px) {
        .body-bar .main-bar .cont-img-bar .img-bar-uno,
        .body-bar .main-bar .cont-img-bar .img-bar-dos,
        .body-bar .main-bar .cont-img-bar .img-bar-cuatro {
          padding: 0 !important; } }
    .body-bar .main-bar .art-bar {
      justify-content: center;
      margin-bottom: 2rem;
      padding: 0.2rem; }
      @media screen and (min-width: 600px) {
        .body-bar .main-bar .art-bar p {
          padding: 1rem 2rem 2rem 2rem;
          font-size: 1.2rem; } }
      @media screen and (min-width: 1024px) {
        .body-bar .main-bar .art-bar p {
          font-size: 1.4rem; } }
  .body-bar .footer .btn .btn-inst {
    margin-bottom: 1rem; }

body .main-home .contenedor-mediodias .img-home-uno, body .main-home .contenedor-salas .img-home-dos, body .main-home .contenedor-dias .img-home-tres {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; }

body .main-home .contenedor-mediodias .mediodias p, body .main-home .contenedor-salas .sala-reuniones p, body .main-home .contenedor-dias .dias-horarios p {
  padding: 0.5rem 1rem 1rem 1rem; }

body .footer .btn-wapp, .body-bar .footer .btn-wapp {
  position: fixed;
  bottom: 6rem;
  right: 3rem; }

body header, .body-bar header {
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 100%;
  background-image: url(../img/varias/img-bannerdos.jpg);
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: cover; }

body header h1, .body-bar header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.3rem solid black;
  border-bottom: 0.3rem solid black;
  background-color: white;
  font-size: 1.9rem; }

.body-bar .main-bar .h2-mod, body .main-market .h2-mod, body .main-contacto .h2-mod {
  display: flex;
  justify-content: center;
  font-size: 2rem; }

.body-bar .main-bar .cont-img-bar img, body .main-market .cont-img-market img, body .main-kamados .contenedor-img-kamado img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.body-bar .main-bar .cont-img-bar .img-bar-uno,
.body-bar .main-bar .cont-img-bar .img-bar-dos,
.body-bar .main-bar .cont-img-bar .img-bar-cuatro {
  display: flex;
  justify-content: center;
  padding: 3rem; }

body .main-kamados .contenedor-img-kamado .img-kamado-uno,
body .main-kamados .contenedor-img-kamado .img-kamado-dos,
body .main-kamados .contenedor-img-kamado .img-kamado-tres {
  display: flex;
  justify-content: center; }

body .footer, .body-bar .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem; }

body .main-contacto .form-c .input-group input, body .main-contacto .form-c .input-group textarea {
  background-color: rgba(159, 180, 92, 0.308);
  border: solid rgba(144, 161, 86, 0.438);
  outline: none; }

body {
  background-color: whitesmoke; }
  body .main-market {
    margin: 3rem 1rem 2rem 1rem; }
    body .main-market .h2-mod {
      text-align: center !important; }
    body .main-market .cont-img-market {
      padding: 0 4rem; }
      body .main-market .cont-img-market img {
        padding: 1rem 2rem; }
        @media screen and (min-width: 600px) {
          body .main-market .cont-img-market img {
            padding: 1.5rem; } }
      @media screen and (min-width: 600px) {
        body .main-market .cont-img-market {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(4, 15rem);
          padding: 3rem; }
          body .main-market .cont-img-market .market-seis,
          body .main-market .cont-img-market .market-ocho,
          body .main-market .cont-img-market .market-nueve {
            display: none; } }
      @media screen and (min-width: 1024px) {
        body .main-market .cont-img-market {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(4, 25rem);
          padding: 1rem 5rem; }
          body .main-market .cont-img-market .market-ocho,
          body .main-market .cont-img-market .market-nueve {
            display: block; }
          body .main-market .cont-img-market .market-once {
            grid-column: span 3; } }
    body .main-market .art-market h3 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 1.5rem; }
    body .main-market .art-market p {
      text-align: center;
      margin-bottom: 0.7rem; }
      @media screen and (min-width: 600px) {
        body .main-market .art-market p {
          font-size: 1.2rem; } }
      @media screen and (min-width: 1024px) {
        body .main-market .art-market p {
          margin: 0 4rem 1rem 4rem;
          font-size: 1.4rem; } }
    body .main-market .art-market ul {
      margin-left: 40%; }
      @media screen and (min-width: 600px) {
        body .main-market .art-market ul {
          font-size: 1.2rem; } }
      @media screen and (min-width: 1024px) {
        body .main-market .art-market ul {
          font-size: 1.4rem; } }
  body .footer .btn .btn-inst {
    margin-bottom: 1rem; }

body .main-home .contenedor-mediodias .img-home-uno, body .main-home .contenedor-salas .img-home-dos, body .main-home .contenedor-dias .img-home-tres {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; }

body .main-home .contenedor-mediodias .mediodias p, body .main-home .contenedor-salas .sala-reuniones p, body .main-home .contenedor-dias .dias-horarios p {
  padding: 0.5rem 1rem 1rem 1rem; }

body .footer .btn-wapp, .body-bar .footer .btn-wapp {
  position: fixed;
  bottom: 6rem;
  right: 3rem; }

body header, .body-bar header {
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 100%;
  background-image: url(../img/varias/img-bannerdos.jpg);
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: cover; }

body header h1, .body-bar header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.3rem solid black;
  border-bottom: 0.3rem solid black;
  background-color: white;
  font-size: 1.9rem; }

.body-bar .main-bar .h2-mod, body .main-market .h2-mod, body .main-contacto .h2-mod {
  display: flex;
  justify-content: center;
  font-size: 2rem; }

.body-bar .main-bar .cont-img-bar img, body .main-market .cont-img-market img, body .main-kamados .contenedor-img-kamado img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.body-bar .main-bar .cont-img-bar .img-bar-uno,
.body-bar .main-bar .cont-img-bar .img-bar-dos,
.body-bar .main-bar .cont-img-bar .img-bar-cuatro {
  display: flex;
  justify-content: center;
  padding: 3rem; }

body .main-kamados .contenedor-img-kamado .img-kamado-uno,
body .main-kamados .contenedor-img-kamado .img-kamado-dos,
body .main-kamados .contenedor-img-kamado .img-kamado-tres {
  display: flex;
  justify-content: center; }

body .footer, .body-bar .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem; }

body .main-contacto .form-c .input-group input, body .main-contacto .form-c .input-group textarea {
  background-color: rgba(159, 180, 92, 0.308);
  border: solid rgba(144, 161, 86, 0.438);
  outline: none; }

body {
  background-color: whitesmoke; }
  body .main-kamados {
    margin: 3rem 1rem 2rem 1rem; }
    body .main-kamados .art-kamados {
      text-align: center;
      margin-left: 1.5rem;
      margin-right: 1.5rem; }
      body .main-kamados .art-kamados p {
        margin-top: 1rem; }
      @media screen and (min-width: 600px) {
        body .main-kamados .art-kamados {
          display: grid;
          justify-content: center;
          font-size: 1.2rem; } }
      @media screen and (min-width: 1024px) {
        body .main-kamados .art-kamados {
          font-size: 1.4rem;
          margin-bottom: 4rem; } }
    body .main-kamados .contenedor-img-kamado .img-kamado-uno,
    body .main-kamados .contenedor-img-kamado .img-kamado-dos,
    body .main-kamados .contenedor-img-kamado .img-kamado-tres {
      padding: 1rem 2rem; }
    @media screen and (min-width: 600px) {
      body .main-kamados .contenedor-img-kamado {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        margin-right: 2rem;
        margin-bottom: 1rem;
        gap: 2rem;
        padding: 2rem 3.5rem; }
        body .main-kamados .contenedor-img-kamado .img-kamado-uno,
        body .main-kamados .contenedor-img-kamado .img-kamado-dos {
          padding: 0; }
        body .main-kamados .contenedor-img-kamado .img-kamado-tres {
          padding: 0;
          grid-column: span 2; } }
    @media screen and (min-width: 1024px) {
      body .main-kamados .contenedor-img-kamado {
        display: flex;
        padding: 0;
        gap: 0;
        margin: 0;
        flex-wrap: wrap;
        justify-content: center; }
        body .main-kamados .contenedor-img-kamado .img-kamado-dos {
          margin-left: 1.5rem;
          margin-right: 1.5rem; } }
  body .footer .btn .btn-inst {
    margin-bottom: 1rem; }

body .main-home .contenedor-mediodias .img-home-uno, body .main-home .contenedor-salas .img-home-dos, body .main-home .contenedor-dias .img-home-tres {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; }

body .main-home .contenedor-mediodias .mediodias p, body .main-home .contenedor-salas .sala-reuniones p, body .main-home .contenedor-dias .dias-horarios p {
  padding: 0.5rem 1rem 1rem 1rem; }

body .footer .btn-wapp, .body-bar .footer .btn-wapp {
  position: fixed;
  bottom: 6rem;
  right: 3rem; }

body header, .body-bar header {
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 100%;
  background-image: url(../img/varias/img-bannerdos.jpg);
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: cover; }

body header h1, .body-bar header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.3rem solid black;
  border-bottom: 0.3rem solid black;
  background-color: white;
  font-size: 1.9rem; }

.body-bar .main-bar .h2-mod, body .main-market .h2-mod, body .main-contacto .h2-mod {
  display: flex;
  justify-content: center;
  font-size: 2rem; }

.body-bar .main-bar .cont-img-bar img, body .main-market .cont-img-market img, body .main-kamados .contenedor-img-kamado img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.body-bar .main-bar .cont-img-bar .img-bar-uno,
.body-bar .main-bar .cont-img-bar .img-bar-dos,
.body-bar .main-bar .cont-img-bar .img-bar-cuatro {
  display: flex;
  justify-content: center;
  padding: 3rem; }

body .main-kamados .contenedor-img-kamado .img-kamado-uno,
body .main-kamados .contenedor-img-kamado .img-kamado-dos,
body .main-kamados .contenedor-img-kamado .img-kamado-tres {
  display: flex;
  justify-content: center; }

body .footer, .body-bar .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem; }

body .main-contacto .form-c .input-group input, body .main-contacto .form-c .input-group textarea {
  background-color: rgba(159, 180, 92, 0.308);
  border: solid rgba(144, 161, 86, 0.438);
  outline: none; }

body {
  background-color: whitesmoke; }
  body .main-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem; }
    body .main-contacto .h3-cont {
      text-align: center;
      margin-bottom: 3rem; }
    body .main-contacto .form-c {
      padding: 2rem;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      width: 22rem; }
      @media screen and (min-width: 600px) {
        body .main-contacto .form-c {
          width: 30rem; } }
      body .main-contacto .form-c legend {
        text-align: center; }
      body .main-contacto .form-c .input-group {
        display: flex;
        flex-direction: column;
        text-align: left; }
        body .main-contacto .form-c .input-group label {
          font-weight: bold;
          margin: 0.3rem;
          color: #4b6344; }
      body .main-contacto .form-c .btn-form {
        display: flex;
        margin-top: 1rem;
        justify-content: space-between; }
        body .main-contacto .form-c .btn-form input {
          padding: 4px;
          border-radius: 0.6rem;
          color: #4b6344;
          background-color: rgba(159, 180, 92, 0.308);
          border: none;
          cursor: pointer; }
          body .main-contacto .form-c .btn-form input:hover {
            background-color: rgba(144, 161, 86, 0.438);
            transition: 0.4ms; }
  body section {
    margin-top: 2rem; }
    body section .h4-contacto {
      text-decoration: underline;
      text-align: center;
      margin-bottom: 2rem; }
    body section .map-contacto {
      display: grid;
      grid-template-columns: auto;
      justify-items: center;
      row-gap: 2rem; }
      @media screen and (min-width: 600px) {
        body section .map-contacto {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: auto;
          margin-left: 15%;
          margin-right: 15%; }
          body section .map-contacto img {
            width: 100%;
            height: 21.875rem;
            object-fit: cover; } }
  body .footer {
    margin-top: 2rem; }
    body .footer .btn .btn-inst {
      margin-bottom: 1rem; }
