// { }
/*reset*/
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

@import "vistas/home";
@import "vistas/bar";
@import "vistas/market";
@import "vistas/kamados";
@import "vistas/contacto";








