//tamaño letras
$size-tablet: 1.2rem;
$size-desktop: 1.4rem;

//colores seccion contacto
$color-base:rgba(159, 180, 92, 0.308);
$color-intermedio:rgba(144, 161, 86, 0.438);
$color-oscuro:rgb(75, 99, 68);


